@{
    ViewBag.Title = "Home Page";
}

    <div>

        <h3></h3>
        <div>

            <img src="~/Content/Images/adele.jpg" alt="adele" class="img-center" style="width:48%" />

            <img src="~/Content/Images/andreabocelli.jpg" alt="andrea_bocelli" class="img-center" style="width:48%" />
        </div>
        <h2 align="center" style="color:darkblue"><b>Melody - music library</b></h2>
        <div>

            <img src="~/Content/Images/sting.jpg" alt="sting" class="img-center" style="width:48%" />

            <img src="~/Content/Images/deanmartin.jpg" alt="dean_Martin" 3class="img-center" style="width:48%" />

        </div>




    </div>

